
<div class="startpage">
<p>Player 1 press Q, player 2 press P</p>
<p>Press your respective key to ready up!</p>
</div>
 
<table class="racer_table inactive">
  <tr id="player1_strip">    
  </tr>
  <tr id="player2_strip">
      </tr>
</table>
 

<ul class="result-list">
<li class="player1_results"></li>

<li class="player2_results"></li>
</ul>

<h2><a href="/">Start a new race yoloswag bieber fever</a></h2>
